.example-header-image{
    background-image: url("src\assets\Exam.png");
    background-size: cover;
}
.example-header-image-notfound{
    background-image: url("src\assets\NotFound.png");
    background-size: cover;
}
  