<h1 style="margin-left: 20px">Question of {{title}}</h1>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <button mat-raised-button color="primary" [routerLink]="'/addQuestion/' + qId + '/' + title">Add Question</button>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <mat-card *ngFor="let q of questions; let i = index">
                <mat-card-content>
                    <p>
                        <b>Q {{ i + 1}}</b>
                        <span style="margin-left: 20px;" [innerHTML]="q.content"></span>
                    </p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p *ngIf="q.option1">
                                    <b>1)</b> {{q.option1}}
                                </p>
                                <p *ngIf="q.option2">
                                    <b>2)</b> {{q.option2}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p *ngIf="q.option3">
                                    <b>3)</b> {{q.option3}}
                                </p>
                                <p *ngIf="q.option4">
                                    <b>4)</b> {{q.option4}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <p style="margin-top: 20px;">
                        <b>Correct Answer: </b>{{q.answer}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>