<div class="container">
<mat-card>
    <h1>Add New Quiz</h1>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form>
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Enter Title</mat-label>                      
                        <input type="text" name="title" placeholder="Enter Here" matInput/>
                    </mat-form-field>
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Enter Description</mat-label>                      
                        <textarea type="text" name="description" rows="2" placeholder="Enter Here" matInput></textarea>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-6">   
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Maxmium Mark</mat-label>                      
                                <input type="text" name="mxMark" placeholder="Enter Here" matInput/>
                            </mat-form-field>           
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Number of Question</mat-label>                      
                                <input type="text" name="noQuestion" placeholder="Enter Here" matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="container text-center">
                    <button mat-raised-button color="accent">Add Quiz</button>
                </div>
            </div>
        </div>
</mat-card>
</div>