<div class="bootstrap-wraper">
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <div class="container" >
                        <button mat-raised-button color="accent" style="float: right;">Show Answer</button>
                        <button mat-raised-button color="accent" style="float: right;margin-right: 10px;">Next Question</button>
                </div>
                <mat-card-header>
                        <mat-card-subtitle>
                        <h1><b>
                            Elon Reeve Musk FRS (/ˈiːlɒn/ EE-lon; born June 28, 1971) 
                            is a business magnate and investor. He is the founder, CEO and
                             chief engineer of SpaceX; angel investor, CEO and product architect
                              of Tesla, Inc.; owner and CEO of Twitter, Inc.; founder of 
                              The Boring Company; co-founder of Neuralink and OpenAI; and 
                              president of the philanthropic Musk Foundation. With an estimated 
                              net worth of around $139 billion as of December 23, 2022, primarily 
                              from his ownership stakes in Tesla and SpaceX,[4][5] Musk is the 
                              second-wealthiest person in the world, according to both the Bloomberg
                               Billionaires Index and Forbes's real-time billionaires list.[6][7]
                        </b></h1> 
                    </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                                <div class="col-md-8">
                                    <mat-chip-list>
                                        <mat-chip [style]="{'background-color': (flag) ? 'green' : '#3F51B5','color': 'aliceblue'}">One fishfibjdofibjdfoib</mat-chip>
                                        <mat-chip [style]="{'background-color': (!flag) ? '#2E7D32' : '#3F51B5','color': 'aliceblue'}">One fishfibjdofibjdfoib</mat-chip>
                                        <mat-chip [style]="{'background-color': (flag) ? 'green' : '#3F51B5','color': 'aliceblue'}">One fishfibjdofibjdfoib</mat-chip>
                                        <mat-chip [style]="{'background-color': (flag) ? 'green' : '#3F51B5','color': 'aliceblue'}">One fishfibjdofibjdfoib</mat-chip>
                                    </mat-chip-list>
                                </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>