<div class="bootstrap-wraper">
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <div class="container" >
                        <button mat-raised-button color="accent" style="float: right;" (click)="showAnswer()">Show Answer</button>
                        <button mat-raised-button color="accent" style="float: right;margin-right: 10px;" (click)="changeQuestion('n')">Next Question</button>
                        <button mat-raised-button color="accent" style="float: right;margin-right: 10px;" (click)="changeQuestion('p')">prev Question</button>
                </div>
                <mat-card-header>
                        <mat-card-subtitle>
                        <h1><b>
                            {{index + 1}} ) {{question.content}}
                        </b></h1> 
                    </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                                <div class="col-md-8">
                                    <mat-chip-list>
                                        <mat-chip *ngIf="question.option1" [style]="{'background-color': (flag1) ? '#2E7D32' : '#3F51B5','color': 'aliceblue'}">{{question.option1}}</mat-chip>
                                        <mat-chip *ngIf="question.option2" [style]="{'background-color': (flag2) ? '#2E7D32' : '#3F51B5','color': 'aliceblue'}">{{question.option2}}</mat-chip>
                                        <mat-chip *ngIf="question.option3" [style]="{'background-color': (flag3) ? '#2E7D32' : '#3F51B5','color': 'aliceblue'}">{{question.option3}}</mat-chip>
                                        <mat-chip *ngIf="question.option4" [style]="{'background-color': (flag4) ? '#2E7D32' : '#3F51B5','color': 'aliceblue'}">{{question.option4}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>